/* Format this */
/* 
 <div className='login_container'>
          <div className='login_box'>
            <div className='login_title'>Login</div>
            <div className='login_input'>
              <input type='text' placeholder='Email' onChange={e => this.user_email = e.target.value}/>
          </div>
          <div className='login_input'>
            <input type='password' placeholder='Password' />
          </div>
          <div className='login_button' onClick={() => this.login()}>Login</div>
          <div className='login_forgot'>Forgot Password?</div>
          <div className='login_register'>Register</div>
        </div>
      </div>
 */

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box {
    display: flex;
    justify-content: center;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.login_input {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.login_input input {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
}

.login_button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.login_forgot {
  text-align: right;
  font-size: 14px;
  color: #f44336;
  cursor: pointer;
}

.login_register {
  text-align: center;
  font-size: 14px;
  color: #111;
  cursor: pointer;
}


